
    .card{
        width: 600px;
        height: 450px;;
        background-color: hsl(0, 0%, 100%);
        display:flex;
        border-radius: 16px;
        overflow: hidden;

    }

    

    .card .img-perfume{      
        width: 50%;
        background-image: url("../assets/image-product-desktop.jpg");
        background-repeat: no-repeat;
        background-size:contain;
    }



    .info{
        width: 50%;       
        padding: 32px;
    }

    .info h1{
        color: hsl(212, 21%, 14%);
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        padding-bottom: 16px;
        
    }

    .info p{
        color: hsl(228, 12%, 48%);
        line-height: 23px;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 16px;
        
    }

    .info .preços {
        display: flex;
        padding-bottom: 16px;
        

    }

    .info .preços .precoAtual{
        line-height: 32px;
        font-size: 32px;
        font-weight: 700;
        color: hsl(158, 36%, 37%);
        font-family: 'Fraunces', serif;
    }

    .info .preços .precoOriginal{
        line-height: 23px;
        font-size: 13px;
        font-weight: 500;
        color: hsl(228, 12%, 48%);
        text-decoration: line-through;
        margin-left: 16px;
        font-family: 'Montserrat', sans-serif;
    }

    .info button{
        border-radius: 8px;
        background-color: hsl(158, 36%, 37%);
        width: 100%;
        border: 0px;
        margin-top: 16px;
        height: 3rem;
        color: white;
        font-size: 14px;
        font-weight: 700;
        margin-top: 32px;
    }

    .info button:hover{
        cursor: pointer;
        
    }



@media screen and (max-width: 500px) {
    
    .card{
        
        width: calc( 100% - 32px);
        height: 90%;
        background-color: hsl(0, 0%, 100%);
        display:block;
        border-radius: 16px;
        position: absolute;
        left: 16px;
        top: 28px;
        

    }

    .card .img-perfume{

        background-image: url("../assets/image-product-mobile.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        height: 40%;
        width: 100%;
    }

    .info{
        width: 100%;        
        padding: 16px;
    }

    .info button{
        position: absolute;
        width: calc(100% - 32px);
        bottom: 16px;
        border-radius: 8px;
    }
}