* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin: 0px
  
  }
  
body {
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}